<h2>Enter username and password to log in</h2>
<label for="username">Enter Username:</label>
<input type="text" name="username" id="username" required value=""><br/>
<label for="password">Enter Password:</label>
<input type="password" name="password" id="password" required><br/>
<input type="submit" name="submit" value="Log In" class="submitButton" onclick="login(username.value, password.value)">
<div id="login_result">
</div>