<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
  <title>Add a To-Do Item to the List</title>
</head>
<body>
<h1>Add a To-Do Item to the List</h1>
<% include ../partials/nav.ejs %>
<h2>Enter Task Details</h2>
<p>Dates should be given in the format <span class="dateFormat">YYYY-MM-DD</span> (four-digit year, two-digit month, and two-digit day of the month) to be interpreted correctly.</p>
<label for="taskName">Task Name: </label>
<input type="text" name="taskName" id="taskName" size="40">
<br/>
<label for="fromDate">Date to Start: </label>
<input type="text" name="fromDate" id="fromDate" size="10">
<br/>
<label for="toDate">Date to Be Done: </label>
<input type="text" name="toDate" id="toDate" size="10">
<br/>
<label for="notes">Task Notes:</label><br/>
<textarea name="notes" id="notes" rows="6" cols="50"></textarea>
<br/>
<input type="button" name="addToListButton" id="addToListButton" value="Save new item" onclick="addToDoItem(taskName.value, fromDate.value, toDate.value, notes.value)">
<div id="addToListResult">
</div>
</body>
<script>
    function addToDoItem (taskName, fromDate, toDate, notes) {
        const xmlHttp = new XMLHttpRequest()
        xmlHttp.onreadystatechange = function() {
            console.log("addToDoItem function reached")
            if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
                //const ids = JSON.parse(xmlHttp.responseText)
				console.log(xmlHttp.responseText)
				document.getElementById("addToListResult").innerHTML = "<p class='successMessage'>Successfully added to-do item &quot;" + taskName + "&quot;</p>"
				document.getElementById("addToListResult").innerHTML += '<ul><li><strong>To Do:</strong> ' + taskName + '<br/> <strong>Start Date:</strong> ' + fromDate + ' <strong>End Date:</strong> ' + toDate + '<br/> <strong>Notes:</strong> ' + notes + '</li></ul>'
				//document.getElementById("addToListResult").innerHTML += '<ul><li><strong>To Do:</strong> ' + ids["thing_to_do"] + '<br/> <strong>Start Date:</strong> ' + ids["date_to_start"] + ' <strong>End Date:</strong> ' + ids["date_to_be_done"] + '<br/> <strong>Notes:</strong> ' + ids["notes"] + '</li></ul>'
            }
        }

        const query = '/addToDoItem?thing_to_do=' + taskName + '&notes=' + notes + '&date_to_start=' + fromDate + '&date_to_be_done=' + toDate

        xmlHttp.open("GET", query, true)
        xmlHttp.send(null)
    }
</script>
</html>