<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
</head>
<script>
</script>
<body>
<h1>To-Do List</h1>
<a href="/login">Sign In</a>
<!-- <input type="button" value="Sign In" onclick='/login'> -->
</body>
</html>